/*********************************************
 * HEADERS
 *********************************************/
 .reveal h1 {
  font-size: 1.5em; }

.reveal h2 {
  font-size: 1.2em; }

/*********************************************
 * IMAGES
 *********************************************/
 .reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 0px solid rgb(34, 34, 34);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px; 

  width: 60%;
  height: auto;
}